<nav class="hero-awasome-square-nav">
    @*<div class="about-text hover-target">Introduction</div>
    <div class="appointment-text hover-target">Interviewes</div>*@
    <div class="section-center">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 text-center">
                    <p>FROM SEA WAVES TO DIGITAL ONES. LET'S DIVE INTO</p>
                    <h3>BLOODY DIGITAL PARTY</h3>
                </div>
                @*<div class="col-12 text-center mt-4 mt-lg-5">
            <p>
                <span class="skills hover-target">skills</span>
                <span class="resume hover-target">resume</span>
                <span class="projects hover-target">projects</span>
            </p>
        </div>*@
            </div>
        </div>
    </div>
</nav>