<div class="share-nav">
    <div class="share-nav-container">
        <a class="facebook-share share-nav-link-icon" title="Facebook Share"  href="#" onclick="shareOnFacebook();return false;" rel="nofollow" share_url="https://milenkoraic.me"><i class="share-nav-link-icon fab fa-facebook"></i></a>
        <a class="twitter-share share-nav-link-icon" title="Twitter Share"  href="#" onclick="shareOnTwitter();return false;" rel="nofollow" share_url="https://milenkoraic.me"><i class="share-nav-link-icon fab fa-twitter"></i></a>
        <a class="linkedin-share share-nav-link-icon" title="LinkedIn Share"  href="#" onclick="shareOnLinkedIn();return false;" rel="nofollow" share_url="https://milenkoraic.me"><i class="share-nav-link-icon fab fa-linkedin"></i></a>
        <a class="google-bookmark-add share-nav-link-icon" title="Google Bookmark"  onclick="createGoogleBookmark();"><i class="share-nav-link-icon far fa-bookmark"></i></a>
    </div>
</div>

