@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
<div class="hero-nav">
    <div style="height:60px;width:100%;color:white;" class="text-center">
        <p style="color:wheat;font-size:14px; color:white; height:100%; line-height:60px; width:auto;">LOCALIZATION IN SWEDISH IS COMMING SOON</p>
    </div>
    @*<partial name="/Views/Home/_HeaderSliderPartial.cshtml" />*@
    <partial name="/Views/Home/_HeroAwasomeSquareNav.cshtml" />
    <partial name="/Views/Home/_HeroFooterCircleNav.cshtml" />
    @*<partial name="/Views/Home/_HeroFooterShareNav.cshtml" />*@
</div>
<div class="about-section">
    <div class="about-close hover-target"></div>
    <div class="section-center">
        <div class="container">
            <div class="row justify-content-center">

            </div>
        </div>
    </div>
</div>
<div class="appointment-section">
    <div class="appointment-close hover-target"></div>
    <div class="section-center">
        <div class="container">
            <div class="row justify-content-center">

            </div>
        </div>
    </div>
</div>
<div class="resume-section">
    <div class="resume-close hover-target"></div>
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="resume-section-file-container">
                                <div class="resume-section-file-image">
                                    <img src="/ico/word-file.png" />
                                </div>
                                <div class="resume-section-file-info">
                                    <div class="resume-section-file-title"><h2>Milenko_Raic_CV.docx</h2></div>
                                    <div class="resume-section-file-details">
                                        <span>File Version:</span> 1.2.0 / <span>Size:</span> 264 KB
                                    </div>
                                    <a href="/docs/Milenko_Raic_CV.docx" download><span>Download</span></a>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="resume-section-file-container">
                                <div class="resume-section-file-image">
                                    <img src="/ico/pdf-file.png" />
                                </div>
                                <div class="resume-section-file-info">
                                    <div class="resume-section-file-title"><h2>Milenko_Raic_CV.pdf</h2></div>
                                    <div class="resume-section-file-details">
                                        <span>File Version:</span> 1.2.0 / <span>Size:</span> 1,05 MB
                                    </div>
                                    <a href="/docs/Milenko_Raic_CV.pdf" download><span>Download</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <h3 class="resume-section-title">Education</h3>
                        <div class="resume-section-item">
                            <h4>Maritime technical high school, Dubrovnik, Croatia</h4>
                            <h5>2006 - 2010</h5>
                            <p><em>Nautical science &amp; Maritime technologies</em></p>
                        </div>
                        <div class="resume-section-item">
                            <h4>OS Stjepan Radic</h4>
                            <h5>2001 - 2006</h5>
                            <p><em>Elementary school, Metkovic, Croatia</em></p>
                        </div>
                        <div class="resume-section-item">
                            <h4>OS Lipanjske zore</h4>
                            <h5>1997 - 2001</h5>
                            <p><em>Elementary school, Visici, FBiH</em></p>
                        </div>
                        <h3 class="resume-section-title">Programming Certificates</h3>
                        <div class="resume-section-item">
                            <h4>SoloLearn</h4>
                            <h5>2018</h5>
                            <p><em>Online Coding Bootcamp</em></p>
                            <a href="https://www.sololearn.com/profile/8862881" target="_blank"><strong>Profile - 8862881 - Milenko Raic</strong></a>
                            <hr />
                            <ul class="certificate-list" style="list-style:none;">
                                <li><i class="bi bi-file-image"></i><a href="~/img/sololearn/C-Sharp.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="CERT - C# Course">CERT - C# Course</a></li>
                                <li><i class="bi bi-file-image"></i><a href="~/img/sololearn/C++.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="CERT - C ++ Course">CERT - C ++ Course</a></li>
                                <li><i class="bi bi-file-image"></i><a href="~/img/sololearn/Java.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="CERT - Java Tutorial Course">CERT - Java Tutorial Course</a></li>
                                <li><i class="bi bi-file-image"></i><a href="~/img/sololearn/JavaScript.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="CERT - JavaScript Course">CERT - JavaScript Course</a></li>
                                <li><i class="bi bi-file-image"></i><a href="~/img/sololearn/jQuery.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="CERT - jQuery Tutorial Course">CERT - jQuery Tutorial Course</a></li>
                                <li><i class="bi bi-file-image"></i><a href="~/img/sololearn/PHP.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="CERT - PHP Tutorial Course">CERT - PHP Tutorial Course</a></li>
                                <li><i class="bi bi-file-image"></i><a href="~/img/sololearn/SQL.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="CERT - SQL Fundamentals Course">CERT - SQL Fundamentals Course</a></li>
                                <li><i class="bi bi-file-image"></i><a href="~/img/sololearn/HTML.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="CERT - HTML Fundamentals Cours">CERT - HTML Fundamentals Cours</a></li>
                                <li><i class="bi bi-file-image"></i><a href="~/img/sololearn/CSS.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="CERT - CSS Course">CERT - CSS Course</a></li>
                            </ul>
                            <hr />
                        </div>
                        <h3 class="resume-section-title">Maritime Certificates</h3>
                        <div class="resume-section-item">
                            <h4>STCW</h4>
                            <h5>2018</h5>
                            <p><em>Standards of Training, Certification and Watchkeeping for Seafarers</em></p>
                            <a href="https://www.imo.org/en/OurWork/HumanElement/Pages/STCW-Convention.aspx" target="_blank"><strong>IMO - International Maritime Organization</strong></a>
                            <hr />
                            <ul style="list-style:none;">
                                <li><i class="bi bi-file-image"></i><a href="~/img/stcw/basic-safety.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="CERT - BASIC SAFETY TRAINING">CERT - BASIC SAFETY TRAINING</a></li>
                                <li><i class="bi bi-file-image"></i><a href="~/img/stcw/security-awareness.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="CERT - SECURITY AWARENESS">CERT - SECURITY AWARENESS</a></li>
                                <li><i class="bi bi-file-image"></i><a href="~/img/stcw/advanced-security.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="CERT - SEAFARER WITH DESIGNATED SECURITY DUTIES">CERT - SEAFARER WITH DESIGNATED SECURITY DUTIES</a></li>
                                <li><i class="bi bi-file-image"></i><a href="~/img/stcw/advanced-firefighting.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="CERT - ADVANCED FIRE FIGHTING CERTIFICATE">CERT - ADVANCED FIRE FIGHTING</a></li>
                                <li><i class="bi bi-file-image"></i><a href="~/img/stcw/arpa-radar.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="CERT - AUTOMATIC RADAR PLOTTING AID">CERT - AUTOMATIC RADAR PLOTTING</a></li>
                                <li><i class="bi bi-file-image"></i><a href="~/img/stcw/medical-first-aid.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="CERT - MEDICAL FIRST AID">CERT - MEDICAL FIRST AID</a></li>
                                <li><i class="bi bi-file-image"></i><a href="~/img/stcw/survival-craft.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="CERT - PROFICIENCY IN SURVIVAL CRAFT AND RESCUE BOATS">CERT - PROFICIENCY IN SURVIVAL CRAFT AND RESCUE BOATS</a></li>
                            </ul>
                            <hr />
                        </div>
                        <h3 class="resume-section-title">Driving licence</h3>
                        <div class="resume-section-item">
                            <h4>CATEGORIES: AM, B, F, G</h4>
                            <h5>2015</h5>
                            <p>Date issued: July, 26</p>
                            <p>Valid till: 07.26.2031.</p>
                            <p><em>Ministry of the Interior</em><br />Republic of Croatia </p>
                            <a href="https://mup.gov.hr/" target="_blank"><strong>MUP RH</strong></a>
                        </div>
                        <h3 class="resume-section-title">Languages spoken</h3>
                        <div class="resume-section-item">
                            <h4>SWEDISH</h4>
                            <h6 class="star-rating">&#9733; &#9733; &#9734; &#9734; &#9734;</h6>
                            <p>TYPE: Foreign</p>
                            <p>PLACE STARTED: Work - SFI, Self taught</p>
                            <h5>2021</h5>
                        </div>
                        <div class="resume-section-item">
                            <h4>ENGLISH</h4>
                            <h6 class="star-rating">&#9733; &#9733; &#9733; &#9733; &#9734;</h6>
                            <p>TYPE: Foreign</p>
                            <p>PLACE STARTED: Elementary school - 4th Grade</p>
                            <h5>2001</h5>
                        </div>
                        <div class="resume-section-item">
                            <h4>CROATIAN</h4>
                            <h6 class="star-rating">&#9733; &#9733; &#9733; &#9733; &#9733;</h6>
                            <p>TYPE: Native</p>
                            <p>PLACE STARTED: Elementary school - 1st Grade</p>
                            <h5>1997</h5>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <h3 class="resume-section-title">Professional Experience</h3>
                        <div class="resume-section-item">
                            <h6>Space m2 For smart living AB</h6>
                            <a class="company-website" href="https://spacem2.se" target="_blank"><p>www.spacem2.se</p></a>
                            <h4>Carpenter</h4>
                            <p>Employment type: Full-time</p>
                            <h5>2020 - Present</h5>
                            <p><em>Edsvära Borga 4, 535 93 Kvänum, Sverige </em></p>
                            @*<ul>
                        <li>Woodcutting, sanding, drilling, and other processing.</li>
                        <li>Construction of walls, floors, and roofs according to technical drawings.</li>
                        <li>Installation of drywall, parquet, and white-board panels.</li>
                    </ul>*@
                        </div>
                        <div class="resume-section-item">
                            <h6>Mario Travel d.o.o.</h6>
                            <a class="company-website" href="https://dubrovniktours.tours" target="_blank"><p>www.dubrovniktours.tours</p></a>
                            <h4>.Net Core Web Developer</h4>
                            <p>Employment type: Full-time</p>
                            <h5>2019-2020</h5>
                            <p><em>Getaldiceva 12 | Old Town, Dubrovnik 20000, Croatia</em></p>
                            @*<ul>
                        <li>Project management and integrations.</li>
                        <li>Development and maintenance of cloud-based web applications.</li>
                        <li>SQL database design and development according to business architecture.</li>
                        <li>Familiarization with Web API services.</li>
                        <li>Cloud administration and Linux configuration.</li>
                        <li>Git version control.</li>
                    </ul>*@
                        </div>
                        <div class="resume-section-item">
                            <h6>Keops d.o.o.</h6>
                            <a class="company-website" href="http://keops-dubrovnik.hr" target="_blank"><p>www.keops-dubrovnik.hr</p></a>
                            <h4>Stonemason</h4>
                            <p>Employment type: Contract</p>
                            <h5>2018-2019</h5>
                            <p><em>Štikovica bb, Dubrovnik 20000, Croatia</em></p>
                            @*<ul>
                        <li>CNC machine operations.</li>
                        <li>Cutting and grinding of the stone.</li>
                        <li>Mounting and installation of the stone.</li>
                        <li>Carving of flower vases for tombstones.</li>
                    </ul>*@
                        </div>
                        <div class="resume-section-item">
                            <h6>Violeta d.o.o.</h6>
                            <a class="company-website" href="https://violeta.com" target="_blank"><p>www.violeta.com</p></a>
                            <h4>Sales Representative</h4>
                            <p>Employment type: Contract</p>
                            <h5>2018-2018</h5>
                            <p><em>Stjepana Radića 21, 88340 Grude</em></p>
                            @*<ul>
                        <li>Sales psychology, analysis, and reports.</li>
                        <li>Recognition of hot and cold zones for the sales.</li>
                        <li>Supervision and control of stock status.</li>
                        <li>Monitoring competition behavior.</li>
                    </ul>*@
                        </div>
                        <div class="resume-section-item">
                            <h6>CONFIG d.o.o.</h6>
                            <a class="company-website" href="https://www.config.ba" target="_blank"><p>www.config.ba</p></a>
                            <h4>Software Support  Specialist</h4>
                            <p>Employment type: Contract</p>
                            <h5>2017-2018</h5>
                            <p><em>Kneza Višeslava bb, 88000 Mostar, BiH</em></p>
                            @*<ul>
                        <li>POS software administration and  support.</li>
                        <li>Networking of devices such as POS printers and cash registers.</li>
                        <li>Windows OS and SQL database administration.</li>
                        <li>Help desk and remote support.</li>
                    </ul>*@
                        </div>
                        <div class="resume-section-item">
                            <h6>HoldINA d.o.o. Sarajevo</h6>
                            <a class="company-website" href="https://www.holdina.ba" target="_blank"><p>www.holdina.ba</p></a>
                            <h4>Gas Station Cashier</h4>
                            <p>Employment type: Seasonal</p>
                            <h5>2014-2017</h5>
                            <p><em>Azize Šaćirbegović 4b, 71000 Sarajevo, BiH</em></p>
                            @*<ul>
                        <li>Psychology of communication and negotiation.</li>
                        <li>Ability to steer people in the right direction.</li>
                        <li>Warehouse and inventory control.</li>
                        <li>Cash register work, and daily income calculations.</li>
                    </ul>*@
                        </div>
                        <div class="resume-section-item">
                            <h6>Technomarket d.o.o.</h6>
                            <a class="company-website" href="https://www.technomarket.rs" target="_blank"><p>www.technomarket.rs</p></a>
                            <h4>Warehouser</h4>
                            <p>Employment type: Seasonal</p>
                            <h5>2014-2014</h5>
                            <p><em>Obala Stjepana Radića 25, 20000 Dubrovnik, Croatia</em></p>
                            @*<ul>
                        <li>Customer reception and product presentation.</li>
                        <li>Creating discount promotions for specific products.</li>
                        <li>Warehousing and receipt of goods.</li>
                    </ul>*@
                        </div>
                        <div class="resume-section-item">
                            <h6>Atlantic Conbulk Maritime Corporation Ltd.</h6>
                            <a class="company-website" href="https://www.atlant.hr" target="_blank"><p>www.atlant.hr</p></a>
                            <h4>Seaman</h4>
                            <p>Employment type: Contract</p>
                            <h5>2013-2013</h5>
                            <p><em>Dr. Ante Starčevića 24, 20000 Dubrovnik, Croatia</em></p>
                            @*<ul>
                        <li>Ship operations and skull maintenance.</li>
                        <li>Security onboard and in the ports.</li>
                        <li>Rescue at sea and medical first aid.</li>
                    </ul>*@
                            <h4>Deck cadet</h4>
                            <p>Employment type: Contract</p>
                            <h5>2011-2012</h5>
                            <p><em>Dr. Ante Starčevića 24, 20000 Dubrovnik, Croatia</em></p>
                            @*<ul>
                        <li>Shipboard business administration.</li>
                        <li>Maritime navigation and technologies.</li>
                        <li>Cartography, trip planning, and budgeting.</li>
                        <li>Crew management and conflict solving.</li>
                    </ul>*@
                        </div>
                    </div>
                </div>
            <!-- End Resume Section -->
        </div>

<div class="projects-section">
    <div class="projects-close hover-target"></div>
  
</div>

<div class="skills-section">
    <div class="skills-close hover-target"></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 text-center">

            </div>

        </div>
    </div>
</div>

<!-- Development Environment Main JS Files -->
<environment include="Development">
    <script defer type="text/javascript" src="~/js/home/home.js" asp-append-version="true"></script>
</environment>
<!-- Production Environment Main JS Files -->
<environment exclude="Development">
    <script defer type="text/javascript" src="~/js/home/home.min.js" asp-append-version="true"></script>
</environment>



