<!-- ======= Services Section ======= -->
<section id="portfolio-page-services" class="portfolio-page-services portfolio-page-distant">
    <section class="section-service-cards">
            <div class="row justify-content-center text-center">
                <div class="col-md-10 col-lg-8">
                    <div class="section-service-cards-header-section">
                        <h2 class="title">Exclusive <span>Services</span></h2>
                        <p class="description">Free SEO analysis and initial consultation regarding system solutions.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- Start Single Service -->
                <div class="col-md-6 col-lg-4">
                    <div class="section-service-cards-single-card">
                        <div class="part-1">
                            <i class="fas fa-comments-dollar"></i>
                            <h3 class="title">IT Consulting</h3>
                        </div>
                        <div class="part-2">
                            <p class="description">Information technology (IT) consulting services aim to help you develop and implement an IT strategy. I can help you with this service to professionally guide your IT and digital transformation initiatives from strategy planning to implementation in an extremely objective way. The right advice is always what everyone is looking for, so feel free to ask me anything about your digital dreams.</p>
                            <a href="#"><i class="fas fa-arrow-circle-right"></i>Read More</a>
                        </div>
                    </div>
                </div>
                <!-- / End Single Service -->
                <!-- Start Single Service -->
                <div class="col-md-6 col-lg-4">
                    <div class="section-service-cards-single-card">
                        <div class="part-1">
                            <i class="fas fa-cogs"></i>
                            <h3 class="title">Software development</h3>
                        </div>
                        <div class="part-2">
                            <p class="description">While the market has recently become more focused on cloud applications and mobile application development, many overlook the benefits and importance of computer software. Whether it is a simple or more complex system solution, I can help you keep your data where it belongs without relying on the security of third-party service providers.</p>
                            <a href="#"><i class="fas fa-arrow-circle-right"></i>Read More</a>
                        </div>
                    </div>
                </div>
                <!-- / End Single Service -->
                <!-- Start Single Service -->
                <div class="col-md-6 col-lg-4">
                    <div class="section-service-cards-single-card">
                        <div class="part-1">
                            <i class="fas fa-globe-americas"></i>
                            <h3 class="title">Web development</h3>
                        </div>
                        <div class="part-2">
                            <p class="description">Web development is something that everyone is looking for. It is a pity that there are still those who do not understand the importance of digital presence. Did you know that most mobile apps are actually websites. Technology has advanced so much that instead of native development, young children can code today. If you need a website, I am at your disposal.</p>
                            <a href="#"><i class="fas fa-arrow-circle-right"></i>Read More</a>
                        </div>
                    </div>
                </div>
                <!-- / End Single Service -->
                <!-- Start Single Service -->
                <div class="col-md-6 col-lg-4">
                    <div class="section-service-cards-single-card">
                        <div class="part-1">
                            <i class="fas fa-paint-roller"></i>
                            <h3 class="title">Web design</h3>
                        </div>
                        <div class="part-2">
                            <p class="description">You’ve probably heard a million times about UI and UX design before. Also responsiveness has been a regular topic for maybe the last 10 years if not more, but there are still pages from the 90s. Remember that the world goes on and no normal person uses floppy disks anymore. Be careful with your decisions, and do not rely on the advice of old school technicians. They are also floppy disks that will disappear quickly, choose a rocket instead of a museum and adapt your design to the needs of your customers.</p>
                            <a href="#"><i class="fas fa-arrow-circle-right"></i>Read More</a>
                        </div>
                    </div>
                </div>
                <!-- / End Single Service -->
                <!-- Start Single Service -->
                <div class="col-md-6 col-lg-4">
                    <div class="section-service-cards-single-card">
                        <div class="part-1">
                            <i class="fas fa-user-cog"></i>
                            <h3 class="title">Website administration</h3>
                        </div>
                        <div class="part-2">
                            <p class="description">How many times did you need an urgent change on a page that costs you a lot? Whether it is a price change,  discount, or something related to design, the problem probably remains. Maybe you had to look for talents at UpWork or, in the worst case, IT companies whose services cost you big money. It is wise to have one person you can rely on when you need any change. Regardless of the technology, I can help you with cost-effective maintenance, so let's start a profitable partnership for your business!</p>
                            <a href="#"><i class="fas fa-arrow-circle-right"></i>Read More</a>
                        </div>
                    </div>
                </div>
                <!-- / End Single Service -->
                <!-- Start Single Service -->
                <div class="col-md-6 col-lg-4">
                    <div class="section-service-cards-single-card">
                        <div class="part-1">
                            <i class="fas fa-cloud"></i>
                            <h3 class="title">Cloud hosting</h3>
                        </div>
                        <div class="part-2">
                            <p class="description">Cloud, cloud, cloud, and everyone believes in the cloud. Let's get things straight the cloud does not exist. Everything is a wire leading somewhere. You choose where to store your data. If you are a mega-company that can handle dozens of security experts, you don't need a cloud. Few companies can afford it, so it is wise to choose the cloud service according to the stage of your development. Service providers do not cost the same, and therefore the quality of service differs. </p>
                            <a href="#"><i class="fas fa-arrow-circle-right"></i>Read More</a>
                        </div>
                    </div>
                </div>
                <!-- / End Single Service -->
                <!-- Start Single Service -->
                <div class="col-md-6 col-lg-4">
                    <div class="section-service-cards-single-card">
                        <div class="part-1">
                            <i class="fas fa-server"></i>
                            <h3 class="title">Domain Management</h3>
                        </div>
                        <div class="part-2">
                            <p class="description">To sum up, no one likes to work with servers except those people who live in frosty rooms and have cookies in their chins. Luckily I had the opportunity to hang out with such people (at night), they don't go out during the day. I learned a lot about DNS configuration and domain migration. I'm not a complete expert on more complex things, but for less money I can help your site see the light of port 80, which in most cases is the biggest problem people face today when configuring DNS. If you need to hunt for the perfect domain, I can help you, so don't despair.</p>
                            <a href="#"><i class="fas fa-arrow-circle-right"></i>Read More</a>
                        </div>
                    </div>
                </div>
                <!-- / End Single Service -->
                <!-- Start Single Service -->
                <div class="col-md-6 col-lg-4">
                    <div class="section-service-cards-single-card">
                        <div class="part-1">
                            <i class="fas fa-search-dollar"></i>
                            <h3 class="title">SEO Optimization</h3>
                        </div>
                        <div class="part-2">
                            <p class="description">There is also that SEO thing. Sound like NEO from The Matrix only on steroids, so someone added S instead of N. Not really, but there is Agent Smith. There are many of them, and we call them bots, spiders, and crawlers. They come from a search engine like google, and it is crucial to know what they want. They feed on your content, but it is also important to point out that the structure of HTML plays an important role. You can discover your SEO status with services like Google Page Insights. After performing an inspection, you may need my help. </p>
                            <a href="#"><i class="fas fa-arrow-circle-right"></i>Read More</a>
                        </div>
                    </div>
                </div>
                <!-- / End Single Service -->
                <!-- Start Single Service -->
                <div class="col-md-6 col-lg-4">
                    <div class="section-service-cards-single-card">
                        <div class="part-1">
                            <i class="fas fa-laptop-house"></i>
                            <h3 class="title">Remote Support</h3>
                        </div>
                        <div class="part-2">
                            <p class="description">Whichever way you look at it, you will notice that it is always good for you to have adequate support when something is not working. Things that don't work cost a lot, first of all, your money, and finally your nerves. There is a hacking term called man-in-the-middle attack, and I am offering you this service from a slightly brighter side.  I call it man-in-the-middle support.  I can adapt to your business concept and solve your problem before your slow support arrives. By the way, remote support is a good way to learn how to solve problems by yourself.</p>
                            <a href="#"><i class="fas fa-arrow-circle-right"></i>Read More</a>
                        </div>
                    </div>
                </div>
                <!-- / End Single Service -->
            </div>
    </section>

</section>
<!-- End Services Section -->