<!-- ======= Downloads Section ======= -->
<section id="portfolio-page-downloads" class="portfolio-page-downloads">
    <div class="container">

        <section class="section">
            <div class="container">
                <div class="download-cards" data-view="grid-view">
                    <article class="download-card">
                        <div class="download-card__image" data-image="/img/resume/cv-screenshot.png"></div>
                        <div class="download-card__content">
                            <header>
                                <div class="download-card__category">PDF</div>
                                <h3 class="download-card__title">Professional resume for recruiters and potential employers.</h3>
                            </header>
                            <footer><a class="button" href="/docs/Milenko_Raic_Personal_CV.pdf" download="Milenko_Raic_Personal_CV.pdf"><i class="fas fa-arrow-circle-down"></i><span>Download</span></a></footer>
                        </div>
                    </article>
                    @*<article class="download-card">
                        <div class="download-card__image" data-image="https://images.unsplash.com/photo-1503776768674-0e612f631345?ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=400&amp;q=80"></div>
                        <div class="download-card__content">
                            <header>
                                <div class="download-card__category">PDF</div>
                                <h3 class="download-card__title">Personal portfolio about my projects.</h3>
                            </header>
                            <footer><a class="button" href=""><i class="fas fa-arrow-circle-down"></i><span>Download</span></a></footer>
                        </div>
                    </article>*@
                    <article class="download-card">
                        <div class="download-card__image" data-image="/img/sololearn/C++.jpg"></div>
                        <div class="download-card__content">
                            <header>
                                <div class="download-card__category">IMAGE-JPG</div>
                                <h3 class="download-card__title">C++ - CERT - SoloLearn</h3>
                            </header>
                            <footer><a class="button" href="/img/sololearn/C++.jpg" download="C++_MilenkoRaic.jpg"><i class="fas fa-arrow-circle-down"></i><span>Download</span></a></footer>
                        </div>
                    </article>
                    <article class="download-card">
                        <div class="download-card__image" data-image="/img/sololearn/C-Sharp.jpg"></div>
                        <div class="download-card__content">
                            <header>
                                <div class="download-card__category">IMAGE-JPG</div>
                                <h3 class="download-card__title">C# - CERT - SoloLearn</h3>
                            </header>
                            <footer><a class="button" href="/img/sololearn/C-Sharp.jpg" download="C#_MilenkoRaic.jpg"><i class="fas fa-arrow-circle-down"></i><span>Download</span></a></footer>
                        </div>
                    </article>
                    <article class="download-card">
                        <div class="download-card__image" data-image="/img/sololearn/Java.jpg"></div>
                        <div class="download-card__content">
                            <header>
                                <div class="download-card__category">IMAGE-JPG</div>
                                <h3 class="download-card__title">Java - CERT - SoloLearn</h3>
                            </header>
                            <footer><a class="button" href="/img/sololearn/Java.jpg" download="Java_MilenkoRaic.sql"><i class="fas fa-arrow-circle-down"></i><span>Download</span></a></footer>
                        </div>
                    </article>
                    <article class="download-card">
                        <div class="download-card__image" data-image="/img/sololearn/Phyton.jpg"></div>
                        <div class="download-card__content">
                            <header>
                                <div class="download-card__category">IMAGE-JPG</div>
                                <h3 class="download-card__title">Phyton - CERT - SoloLearn</h3>
                            </header>
                            <footer><a class="button" href="/img/sololearn/Phyton.jpg" download="Phyton_MilenkoRaic.jpg"><i class="fas fa-arrow-circle-down"></i><span>Download</span></a></footer>
                        </div>
                    </article>
                    <article class="download-card">
                        <div class="download-card__image" data-image="/img/sololearn/JavaScript.jpg"></div>
                        <div class="download-card__content">
                            <header>
                                <div class="download-card__category">IMAGE-JPG</div>
                                <h3 class="download-card__title">JavaScript - CERT - SoloLearn</h3>
                            </header>
                            <footer><a class="button" href="/img/sololearn/JavaScript.jpg" download="JavaScript_MilenkoRaic.jpg"><i class="fas fa-arrow-circle-down"></i><span>Download</span></a></footer>
                        </div>
                    </article>
                    <article class="download-card">
                        <div class="download-card__image" data-image="/img/sololearn/jQuery.jpg"></div>
                        <div class="download-card__content">
                            <header>
                                <div class="download-card__category">IMAGE-JPG</div>
                                <h3 class="download-card__title">jQuery - CERT - SoloLearn</h3>
                            </header>
                            <footer><a class="button" href="/img/sololearn/jQuery.jpg" download="jQuery_MilenkoRaic.jpg"><i class="fas fa-arrow-circle-down"></i><span>Download</span></a></footer>
                        </div>
                    </article>
                    <article class="download-card">
                        <div class="download-card__image" data-image="/img/sololearn/PHP.jpg"></div>
                        <div class="download-card__content">
                            <header>
                                <div class="download-card__category">IMAGE-JPG</div>
                                <h3 class="download-card__title">PHP - CERT - SoloLearn</h3>
                            </header>
                            <footer><a class="button" href="/img/sololearn/PHP.jpg" download="PHP_MilenkoRaic.jpg"><i class="fas fa-arrow-circle-down"></i><span>Download</span></a></footer>
                        </div>
                    </article>
                    <article class="download-card">
                        <div class="download-card__image" data-image="/img/sololearn/SQL.jpg"></div>
                        <div class="download-card__content">
                            <header>
                                <div class="download-card__category">IMAGE-JPG</div>
                                <h3 class="download-card__title">SQL - CERT - SoloLearn</h3>
                            </header>
                            <footer><a class="button" href="/img/sololearn/SQL.jpg" download="SQL_MilenkoRaic.jpg"><i class="fas fa-arrow-circle-down"></i><span>Download</span></a></footer>
                        </div>
                    </article>
                    <article class="download-card">
                        <div class="download-card__image" data-image="/img/sololearn/HTML.jpg"></div>
                        <div class="download-card__content">
                            <header>
                                <div class="download-card__category">IMAGE-JPG</div>
                                <h3 class="download-card__title">HTML - CERT - SoloLearn</h3>
                            </header>
                            <footer><a class="button" href="/img/sololearn/HTML.jpg" download="HTML.jpeg"><i class="fas fa-arrow-circle-down"></i><span>Download</span></a></footer>
                        </div>
                    </article>
                    <article class="download-card">
                        <div class="download-card__image" data-image="/img/sololearn/CSS.jpg"></div>
                        <div class="download-card__content">
                            <header>
                                <div class="download-card__category">IMAGE-JPG</div>
                                <h3 class="download-card__title">CSS - CERT - SoloLearn</h3>
                            </header>
                            <footer><a class="button" href="/img/sololearn/CSS.jpg" download="CSS.jpg"><i class="fas fa-arrow-circle-down"></i><span>Download</span></a></footer>
                        </div>
                    </article>
                </div>
            </div>
        </section>
    </div>
</section>
