<!-- ======= About Work Section ======= -->
<section id="portfolio-page-about" class="portfolio-page-about portfolio-page-distant">
    <div class="container">
        <div class="portfolio-page-about-content" data-aos="zoom-in">
            <p>
                I have successfully worked in over 10 different industries so far, which gives me some insight into what kind of problems people are facing today.
                I have choosen this approach because I don’t want to follow some default imposed pattern where you have to do what others tell you to do.
                As an individual I am nothing special, the only thing that sets me apart is that I try to make an impact.
                How strong the impact will be depends solely on my environment.
                After all these years of moving from one industry to another, I decided to focus on digital improvements.
                <br />
                <br />
                It is necessary to combine different factors to accomplish any of our visions and
                realization of any idea depends solely on human engagement. Digitalization cannot be painless, and those who promise people that type of transition are mere liars hiding behind good PR.
                There is only one real direction for smart transition and that is workplace engineering. To solve the problem we need to define the problem.
                Wherever I worked I was focused on what was going on around me. In this way, I developed my skill to adapt quickly to anything.
                The world has the keys for our success, and they are everywhere. In most cases, this key is just a feeling. The feeling of a person who is stealing the steering wheel from a dead pilot in a falling airplane.
                Here is the list with some of my keys and how I managed to realize my vision:
                <br />
                <br />
            </p>
            <ul style="margin-left:20px;">
                <li>I was planning to travel the world for free,  so I worked as a seaman.</li>
                <li>I was planning to learn something important, so I worked as a salesperson.</li>
                <li>I was planning to learn something kind, so I worked as a waiter.</li>
                <li>I was planning to learn something difficult, so I worked as a stonemason.</li>
                <li>I was planning to solve problems, so I worked as a software support.</li>
                <li>I was planning to make problems, so I worked as a programmer.</li>
                <li>I was planning to learn something for free, so I used 01010000 00110010 01010000</li>
            </ul>
            <p>
                If we look at my keys we will notice some coincidences. "I was planning to..." and "so I worked as...".
                This tells us that we need to plan, but more importantly act. We all have some templates that we use in our self-development.
                My holy words are travel, learn, solve, create. 
            </p>
            <p>
                All of the things I’ve listed above prove that we can all become whatever we want, but that doesn’t mean we can be good at all.
                The question is whether it is necessary to be good at everything.
                I don’t think that’s the case because it’s obvious that anyone with a little persistence can do anything, and that’s nothing but pushing boundaries.
                <br />
                <br />
                Pushing boundaries is nothing more than taking your ass out of your comfort zone and putting it on fire. Many people have been in that fire all their lives.
                What makes them different is that they have changed the world upside down. From the world of idiots with axes, to the world of people looking for general AI (and idiots with axes).
                No matter how much we progress, things won't change that much, but that's the reason why we need to start looking for our keys.
                <br />
                <br />
                Instead of being consumers, we have to produce. If we are not in that position, we must look for the keys that can enable us to do so.
                <br />
                <br />
                "As long as I live, I try to encourage myself and others to develop. Everything else we do is just miserable." Personal Quote
            </p>
        </div>
    </div>
</section>
<!-- End About Work Section -->