<!-- ======= Testimonials Section ======= -->
<section id="portfolio-page-testimonials" class="portfolio-page-testimonials portfolio-page-distant">
    <div class="container">
        <div class="portfolio-page-testimonials-slider swiper-container" data-aos="fade-up" data-aos-delay="100">
            <div class="swiper-wrapper">
                <!--<div class="swiper-slide">-->
                    <!-- Start testimonial item -->
                    <!--<div class="portfolio-page-testimonials-item" data-aos="fade-up">
                        <p>
                            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                            Observing his work, I noticed that he is doing his job on another level. 
                            He has a rare talent for working with computers, so I decided to be his reference. 
                            I recommend it to everyone who would like to get the opportunity to work with Milenko. 
                            I am sure he will achieve great things in what interests him very much.
                            It would be wrong for his talent to disappear in the wrong profession.
                            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>
                        <img src="/img/testimonials/iangarrett.jpg" class="portfolio-page-testimonials-img" alt="">
                        <h3>Ian Garrett</h3>
                        <h4>Produktionsansvarig</h4>
                        <span>Space M2 For smart living AB</span>
                    </div>
                </div>--><!-- End testimonial item -->
                <div class="swiper-slide">
                    <!-- Start testimonial item -->
                    <div class="portfolio-page-testimonials-item" data-aos="fade-up">
                        <p>
                            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                            Milenko is a great developer and has been working with us for over a year now.
                            He is always on time with his work and we never have to check up on him.
                            When it comes to software, he's got a great eye for design and functionalities too!
                            I recommend his services to anyone who can provide him with further development, he has a rare talent.
                            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>
                        <img src="/img/testimonials/vedranzakanj.jpg" class="portfolio-page-testimonials-img" alt="">
                        <h3>Vedran Zakanj</h3>
                        <h4>CEO & Co-Founder</h4>
                        <span>Ibex solutions d.o.o.</span>
                    </div>
                </div><!-- End testimonial item -->
                <div class="swiper-slide">
                    <!-- Start testimonial item -->
                    <div class="portfolio-page-testimonials-item" data-aos="fade-up">
                        <p>
                            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                            Thanks to Milenko, my website has become something I am finally proud of.
                            My income has multiplied since Milenko's recommendation for UI / UX changes.
                            Not only did he solve the problem with the frontend perfectly, but he also set up the backend side exactly the way I wanted.
                            If you need a real hacker, he is the right person to go for!
                            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>
                        <img src="/img/testimonials/marioserf.jpg" class="portfolio-page-testimonials-img" alt="">
                        <h3>Mario Serf</h3>
                        <h4>CEO & Founder</h4>
                        <span>Mario Travel d.o.o.</span>
                    </div>
                </div><!-- End testimonial item -->
                <!-- Start testimonial item -->
                <div class="swiper-slide">
                    <div class="portfolio-page-testimonials-item" data-aos="fade-up" data-aos-delay="100">
                        <p>
                            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                            I had a great experience with Milenko. I was able to understand the problem and fix it without any stress.
                            His response time was incredible and he always made sure to follow up with me.
                            I would recommend his services to any lead who needs good software support.
                            He’s a wonderful guy and you can’t go wrong with him because he learns very fast.
                            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>
                        <img src="/img/testimonials/testimonials-2.jpg" class="portfolio-page-testimonials-img" alt="">
                        <h3>Vanja Kovacic</h3>
                        <h4>.Net team lead</h4>
                        <span>Config d.o.o.</span>
                    </div>
                </div><!-- End testimonial item -->
                <!-- Start testimonial item -->
                <div class="swiper-slide">
                    <div class="portfolio-page-testimonials-item" data-aos="fade-up" data-aos-delay="300">
                        <p>
                            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                            Running networking cables in a building is not the most difficult job.
                            However, there are many challenges in installing POS systems.
                            Not only do you need to know how the various cables connect, but also what kind of hardware is needed.
                            Milenko has been handling all these challenges with ease over the past.
                            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>
                        <img src="/img/testimonials/testimonials-4.jpg" class="portfolio-page-testimonials-img" alt="">
                        <h3>Bojan Juric</h3>
                        <h4>Networktehnician</h4>
                        <span>Config d.o.o.</span>
                    </div>
                </div><!-- End testimonial item -->
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
</section>
<!-- End Testimonials Section -->
