<!-- ======= Testimonials Section ======= -->
<section id="portfolio-page-skills" class="portfolio-page-skills">
        <div class="skills">
            <div class="container">
                <div class="text">
                    <h2><span>My</span> Skills</h2>
                    <p>Experience, familiarity and skills in computer science.</p>
                </div>

                <div class="skill-card">
                    <div class="card">
                        <i class="fas fa-server"></i>
                        <h4>BackEnd</h4>
                        <h5>DATABASES & GUI</h5>
                        <p>MS SQL, PostgresSQL, MS Access, MS SQL SMS, pgAdmin, Navicat, RedGate, dbForge </p>
                        <p>________________________</p>
                        <h5>APPLICATION LAYER</h5>
                        <p>C#, .Net Core, MicroServices, DependencyInjection, Dapper, Entity Framework, CleanArchitecture, MVC, MVVM, Web API, Postman, MailGun, MailerSend, Maildev </p>
                    </div>

                    <div class="card">
                        <i class="fas fa-pencil-ruler"></i>
                        <h4>FrontEnd</h4>
                        <h5>DESKTOP</h5>
                        <p>WinForms, WPF, DevExpress, Telerik, Bunifu, Material UI</p>
                        <p>________________________</p>
                        <h5>BROWSER</h5>
                        <p>HTML5, CSS3, SASS, Bootstrap, JavaScript, jQuery, GoogleMaps API calculations, Ajax, Webpack</p>
                    </div>

                    <div class="card">
                        <i class="fas fa-magic"></i>
                        <h4>Platforms</h4>
                        <h5>STORAGE & VERSIONING</h5>
                        <p>GitHub, DockerHub, BitBucket, GoogleCloud, DigitalOcean, DropBox, OneDrive</p>
                        <p>________________________</p>
                        <h5>RESEARCH & PROBLEM SOLVING</h5>
                        <p>Official docs, DevDocs, StackOverflow, SourceForge, CodeProject, Spiceworks, Google, YouTube, Udemy, Lynda</p>
                    </div>

                    <div class="card">
                        <i class="fas fa-network-wired"></i>
                        <h4>Computer Networks</h4>
                        <h5>PROTOCOLS</h5>
                        <p>TCP, IP, UDP, POP, SMTP, HTTP, HTTPS, FTP</p>
                        <p>________________________</p>
                        <h5>CONFIGURATION</h5>
                        <p>Routers, WiFi, LAN, printers, static and dynamic IP addresses </p>
                        <p>________________________</p>
                        <h5>VIRTUALIZATION AND SECURITY</h5>
                        <p>VMware, VPN, Proxy, SSH, SSL</p>
                    </div>

                    <div class="card">
                        <i class="fas fa-chart-line"></i>
                        <h4>Communication</h4>
                        <h5>SOCIAL NETWORKS</h5>
                        <p>Facebook, Twitter, Instagram, TikTok, Snapchat, YouTube, LinkedIn, Tumblr, Reddit, Pinterest, Quora</p>
                        <p>________________________</p>
                        <h5>EMAIL & IM SERVICES</h5>
                        <p>Microsoft Teams, Office365, Outlook, Gmail, Slack, Skype, Messenger, Viber, WhatsApp</p>
                    </div>

                    <div class="card">
                        <i class="fas fa-bullhorn"></i>
                        <h4>Marketing</h4>
                        <h5>ANALYTICS</h5>
                        <p>GoogleAnalytics, Facebook Pixel</p>
                        <p>________________________</p>
                        <h5>SEO</h5>
                        <p>SEO analysis</p>
                        <p>Cloud Dilivery Network</p>
                        <p>SEO improvements</p>
                    </div>
                </div>
            </div>
        </div>
</section>