$black:#000000;
$white:#ffffff;


$gray-1:#111111;
$gray-2:#222222;
$gray-3:#333333;
$gray-4:#444444;
$gray:#555555;
$gray-6:#666666;
$gray-7:#777777;
$gray-8:#888888;
$gray-9:#999999;


$color-1:#070704;
$color-2:#801818;
$color-2-light:#ad2424;
$color-2-dark:#551c1c;
$color-4: #0A2662;
$color-4-light: #1D82D2;


$status-on: #00c261;
$status-off: #801818;

$color-bg-light:#1d1d1d;
$color-bg-default:#131212;
$color-bg-dark:#0c0c0c;

//BACKGROUND COLOR PALETTES

//FORE COLOR PALLETTES

