  @font-face {
    font-family: 'Brittany Signature';
    font-style: normal;
    font-weight: 400;
    src: local('Brittany Signature'), url('/font/BrittanySignature.ttf') format('woff');
  }
  
  @font-face {
    font-family: 'AngerStyles-ywXKY';
    font-style: normal;
    font-weight: 400;
    src: local('AngerStyles-ywXKY'), url('/font/AngerStyles-ywXKY.ttf') format('woff');
  }

  @font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    src: local('Raleway'), url('/font/Raleway-Medium.ttf') format('woff');
  }

  @font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: local('Poppins'), url('/font/Poppins-Regular.ttf') format('woff');
  }

  @font-face {
    font-family: 'Nasalization';
    font-style: normal;
    font-weight: 300;
    src: local('Nasalization'), url('/font/nasalization-rg.otf') format('woff');
  }

  @font-face {
    font-family: 'Strasua';
    font-style: normal;
    font-weight: 300;
    src: local('Strasua'), url('/font/strasua.ttf') format('woff');
  }

  @font-face {
    font-family: 'Varino';
    font-style: normal;
    font-weight: 300;
    src: local('Varino'), url('/font/Varino-Normal.ttf') format('woff');
  }

  @font-face {
    font-family: 'BloodThirst';
    font-style: normal;
    font-weight: 100;
    src: local('BloodThirst'), url('/font/Blood-Thirst.ttf') format('woff');
  }
  