//ADD SASS PATH VARIABLES HERE
//-----------------------------------------------------------------

//FILE HOSTING PATH - CURRENTLY [localhost] - [OPTION:CDN]
$hostingPath: '/';
//-----------------------------------------------------------------

//APP ICONS 
$iconPath: "#{$hostingPath}ico/";
//-----------------------------------------------------------------

//APP IMAGES 
$imagePath: "#{$hostingPath}img/";
//-----------------------------------------------------------------

//APP FONTS
$localFontPath: "#{$hostingPath}font/";
//-----------------------------------------------------------------