<!-- ======= About Section ======= -->
<section id="portfolio-page-about" class="portfolio-page-about portfolio-page-distant">
    <div class="container">
        <!-- ======= Info ======= -->
        <div class="row">
            <div class="col-lg-4" data-aos="fade-right">
                <img src="/img/home/profile-img.jpg" class="img-fluid rounded-3 portfolio-page-about-image" alt="Programmer with his dog!">
            </div>
            <div class="col-lg-8 pt-4 pt-lg-0 portfolio-page-about-info" data-aos="fade-left">
                <div class="row">
                    <div class="col-lg-6">
                        <ul>
                            <li>
                                <i class="bi bi-telephone"></i>
                                <span class="content-fieled-prop">Phone:</span>
                                <span class="content-fieled-value">+46 79 020 7845</span>
                            </li>
                            <li>
                                <i class="bi bi-building"></i>
                                <span class="content-fieled-prop">City:</span>
                                <span class="content-fieled-value">Kvänum, Sverige</span>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-6">
                        <ul>
                            <li>
                                <i class="bi bi-envelope"></i>
                                <span class="content-fieled-prop">Email:</span>
                                <span class="content-fieled-value">contact@milenkoraic.me</span>
                            </li>
                            <li>
                                <i class="bi bi-globe2"></i>
                                <span class="content-fieled-prop">Website:</span>
                                <span class="content-fieled-value">milenkoraic.me</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row portfolio-page-about-content" data-aos="zoom-in">
                    <p>
                        Passionate about improving lives by building digital solutions I'am deadline-driven software engineer with solid experience designing,
                        and developing IT systems from initial concept to the final product.
                        Very familiar with C# programming language and Microsoft technologies.
                        I am always looking forward to new opportunities where I can learn more and develop in the right direction.
                        As a person, I am focused on ideas and innovation, but also on building friendships and motivating others to give their best in creating an environment where work becomes a hobby, and our world a better place for everyone.
                        Since I was a kid, I fall in love with technology, and I entered the IT field from the other side. I liked to learn how things work and then adjust them to my needs. Along the way, I met a whole range of people from all IT fields.
                        This experience has opened my way to develop great ideas, and I am planning to realize some of them in the near future.
                    </p>
                </div>
            </div>
        </div>
        <!-- End Info -->
        <!-- ======= Facts ======= -->
        <div id="facts" class="row portfolio-page-about-facts">
            <div class="row portfolio-page-about-row no-gutters">
                <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up">
                    <div class="fact-box">
                        <i class="bi bi-emoji-smile"></i>
                        <span data-purecounter-start="0" data-purecounter-end="232"></span>
                        <p>ALWAYS <strong>CONFIDENT</strong></p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="100">
                    <div class="fact-box">
                        <i class="bi bi-sunglasses"></i>
                        <span data-purecounter-start="0" data-purecounter-end="521"></span>
                        <p>INTRINSIC <strong>MOTIVATOR</strong></p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="100">
                    <div class="fact-box">
                        <i class="bi bi-code-slash"></i>
                        <p>CAN <strong>CODE SOLO</strong></p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="200">
                    <div class="fact-box">
                        <i class="bi bi-headset"></i>
                        <p>CAN WORK <strong>REMOTE</strong></p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="300">
                    <div class="fact-box">
                        <i class="bi bi-people"></i>
                        <p>TEAM <strong>PLAYER</strong></p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up">
                    <div class="fact-box">
                        <i class="bi bi-cup"></i>
                        <p>CAFFEINE <strong>MONSTER</strong></p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up">
                    <div class="fact-box">
                        <i class="bi bi-bug"></i>
                        <p>BUG  <strong>NINJA</strong></p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up">
                    <div class="fact-box">
                        <i class="bi bi-speedometer2"></i>
                        <p>FAST <strong>LEARNER</strong></p>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Facts -->
    </div>
</section>
<!-- End About Section -->