<!-- ======= Blogg Section ======= -->
<section id="blogg" class="portfolio-page-blogg portfolio-page-distant container">
    <div class="blogg-wrapper row justify-content-center">
        <!-- COLUMN START-->
        <div class="column col-md-4 col-sm-6 col-xs-12">
            <!-- Post-->
            <div class="post-module ">
                <!-- Thumbnail-->
                <div class="thumbnail">
                    <div class="date">
                        <div class="day">27</div>
                        <div class="month">Mar</div>
                    </div>
                    <img src="/img/blogg/2021-12-14/new-york.jpeg" />
                </div>
                <!-- Post Content-->
                <div class="post-content">
                    <div class="category">Environment</div>
                    <h1 class="title">City Lights in New York</h1>
                    <h2 class="sub_title">The city that never sleeps.</h2>
                    <p class="description">
                        In the Big Apple, they come in all sizes and all colors: HIDs and LEDs, Landlord's Haloes and expansive spotlights. They outline the Empire State Building and permeate Times Square.
                    </p>
                    <div class="description text-center">
                        <button class="read-more-btn">READ MORE</button>
                    </div>
                    <div class="post-meta"><span class="timestamp"><i class="far fa-clock"></i> 6 mins ago</span><span class="comments"><i class="fa fa-comments"></i><a href="#"> 39 comments</a></span></div>
                </div>
            </div>
        </div>
        <!-- COLUMN END-->
        <!-- COLUMN START-->
        <div class="column col-md-4 col-sm-6 col-xs-12">
            <!-- Post-->
            <div class="post-module">
                <!-- Thumbnail-->
                <div class="thumbnail">
                    <div class="date">
                        <div class="day">27</div>
                        <div class="month">Mar</div>
                    </div>
                    <img src="/img/blogg/2021-12-14/miami-traffic.jpg" />
                </div>
                <!-- Post Content-->
                <div class="post-content">
                    <div class="category">Traffic</div>
                    <h1 class="title">Traffic in Miami</h1>
                    <h2 class="sub_title">Consider this.</h2>
                    <p class="description">Miami traffic costs locals an average of 125 hours a year and you don’t want to be part of that number while you are on vacation. Make the most out of your time by understanding what expressways to avoid at what times of the day.</p>
                    <div class="post-meta"><span class="timestamp"><i class="far fa-clock"></i> 6 mins ago</span><span class="comments"><i class="fa fa-comments"></i><a href="#"> 39 comments</a></span></div>
                </div>
            </div>
        </div>
        <!-- COLUMN END-->
        <!-- COLUMN START-->
        <div class="column col-md-4 col-sm-6 col-xs-12">
            <!-- Post-->
            <div class="post-module">
                <!-- Thumbnail-->
                <div class="thumbnail">
                    <div class="date">
                        <div class="day">27</div>
                        <div class="month">Mar</div>
                    </div>
                    <img src="/img/blogg/2021-12-14/miami-traffic.jpg" />
                </div>
                <!-- Post Content-->
                <div class="post-content">
                    <div class="category">Traffic</div>
                    <h1 class="title">Traffic in Miami</h1>
                    <h2 class="sub_title">Consider this.</h2>
                    <p class="description">Miami traffic costs locals an average of 125 hours a year and you don’t want to be part of that number while you are on vacation. Make the most out of your time by understanding what expressways to avoid at what times of the day.</p>
                    <div class="post-meta"><span class="timestamp"><i class="far fa-clock"></i> 6 mins ago</span><span class="comments"><i class="fa fa-comments"></i><a href="#"> 39 comments</a></span></div>
                </div>
            </div>
        </div>
        <!-- COLUMN END-->
    </div>
    </section>
    <!-- End Blogg Section -->
    <!-- Development Environment Main JS Files -->
    <environment include="Development">
        <script type="text/javascript" src="~/js/blogg/blogg.js" asp-append-version="true"></script>
    </environment>
    <!-- Production Environment Main JS Files -->
    <environment exclude="Development">
        <script type="text/javascript" src="~/js/blogg/blogg.min.js" asp-append-version="true"></script>
    </environment>
