<section class="section-contact-cards">
    <div class="row text-center">
        <!-- Start Single Service -->
        <div class="col-md-6 col-lg-4" data-aos="flip-left">
            <div class="section-contact-cards-single-card">
                <div class="part-1">
                    <i class="bi bi-phone"></i>
                    <h3 class="title">+46 79 020 7845</h3>
                </div>
                <div class="part-2">
                    <p class="description">Working hours from 00:00 to 24:00 every working day.</p>
                </div>
            </div>
        </div>
        <!-- / End Single Service -->
        <!-- Start Single Service -->
        <div class="col-md-6 col-lg-4" data-aos="flip-left">
            <div class="section-contact-cards-single-card">
                <div class="part-1">
                    <i class="bi bi-envelope"></i>
                    <h3 class="title">contact@milenkoraic.me</h3>
                </div>
                <div class="part-2">
                    <p class="description">I usually respond within 8 hours on weekdays, if I’m not too busy.</p>
                </div>
            </div>
        </div>
        <!-- / End Single Service -->
        <!-- Start Single Service -->
        <div class="col-md-6 col-lg-4" data-aos="flip-left">
            <div class="section-contact-cards-single-card">
                <div class="part-1">
                    <i class="bi bi-geo-alt"></i>
                    <h3 class="title">Prinsagårdsgatan 5b</h3>
                </div>
                <div class="part-2">
                    <p class="description">I work at my home office. Darth Vader is keeping my house.</p>
                </div>
            </div>
        </div>
        <!-- / End Single Service -->
    </div>
</section>